.paper_picture, .paper_caption, .fund_picture, .fund_description {
  float: left;
  border-color: yellow;
  width: 45%;
  margin-right: 2% 
}

.paper, .fund {
  border:none;
  &:after {
  	content: "";
  	display: block;
  	clear: both;
  }
}
